body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* 
.App {
  text-align: center;
} */

.nav-drop {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 46rem;
  height: auto;
  margin-left: -30px;
}

.drop-card {
  text-decoration: none;
  text-align: justify;
}

.capt {
  margin-bottom: 15rem;
  text-align: left;
}

.selengkapnya {
  font-style: italic;
  border: 2px solid white;
  border-radius: 50px;
  padding: 5px;
  text-decoration: none;
  color: white;
}

.selengkapnya:hover {
  color: white;
}

.footer {
  background-color: #364384;
}

.link-footer {
  font-size: 10px;
  color: white;
  text-decoration: none;
}

.link-footer:hover {
  color: white;
}

.active {
  color: red;
}

.route {
  background-color: white;
  margin-left: 4rem;
  width: 20rem;
  height: 2rem;
  margin-top: -32px;
  font-weight: 700;
}

.image img:hover {
  transform: scale(1.2);
  color: #364384;
}

.image-desc {
  font-weight: 600;
  color: #364384;
}

.btn-pengembangan {
  width: 100%;
  color: black !important;
  font-weight: 800 !important;
  font-size: 25px;
  background-color: transparent !important;
  border: 0px !important;
  text-align: left;
}

.border {
  border: 0px !important;
  margin-bottom: 5px;
  margin-left: 15px;
}

.btn-selengkapnya {
  border: 0px !important;
  border-radius: 7px;
  padding: 7px;
  background-color: #364384;
  color: white;
  font-size: small;
}
